doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/styles.css")
        title Document
    body#formulario
        div.boton
            button(type='button' id='search' onclick='gotoSignUp()') ir a Signup 
        form#form1(action='/login' method='post')
            h1 Movie App
            label(for='email') Email:
            br
            input#email(name='email' placeholder='Introduce tu email...' value='email')
            br
            label(for='pass') Password:
            br
            input#pass(type='password' name='pass' placeholder='Introduce   password...' value='passw')
            br
            input#enviarForm1(type='submit' value='Log in')
            br
        div.google
            h1 Autenticacion con google
        script(src="./js/main.js") 