doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/styles.css")
        title Home
    body#startbody
        div.botoncrea
            h1 Movie App
            form#form1(action='/login' method='post')
                button(type='button' id='search' onclick='gotoSignUp()') Sign up
                button(type='button' id='search' onclick='gotoLogin()') Log in  
        div.google
            h1 Autenticacion con google
        script(src="./js/main.js") 