doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/styles.css")
        title Document
    body 
        form#form1(action='#' method='POST')
        h3 Formulario de Registro
        label(for='email') Email:
        br
        input#email(name='email' placeholder='Introduce tu email...')
        br
        label(for='pass') Password:
        br
        input#pass(type='password' name='pass' placeholder='Introduce password...')
        br
        label(for='pass2') Repite password:
        br
        input#pass2(type='password' name='pass2' placeholder='Repite password...')
        br
        br
        input#enviarForm1(type='submit' value='Enviar')
        br
