doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/styles.css")
        title Header
    body
        section.header
        .topnav
            #myLinks
                a(href='/dashboard') Inicio
                a(href="/search") Buscador
                a(href="/mymovies") Mis películas
            a.icon(href='javascript:void(0);' onclick='myFunction()')

        script.
            function myFunction() {
                var x = document.getElementById("myLinks");
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            }