doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/styles.css")
        title Document
    body#formulario
        div.botoncrea3
            h1 Movie App
            form#formlogin(action="/login" method="POST")
                h1 Logueate
                label(for='usuario') Usuario:
                input#tituloq(name='usuario' value='')
                label(for='contrasena') Password:
                input#image(type='password' name='contrasena' value='') 
                input#logearse(type='submit' value='Log in')
        div.google
            h1 Autenticación con Google
        script(src="./js/main.js")