doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/styles.css")
    title Document

  body#bodysearcher
    h1.searchh1 APP MOVIES: SEARCH A MOVIE
    form#form12(action='/Search')
      label(for='search' id="labelsearch") Search a movie:
      input#search(type='search' name='search',placeholder="pone pelicula")
      input#enviarform1(type='submit' value='Enviar' )
      br

    script(src='/js/main.js')

