doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/styles.css")
        title Document
    body#formulario
        div.boton 
            button(type='button' id='search' onclick='gotoLogin()') Login
        form#form2(action='/signup' method='POST')
            h1 Movie App
            label(for='user') User:
            input#user(type='user' name='username' placeholder='Introduce tu nombre..')
            label(for='email') Email:
            input#email(type='email' name='email' placeholder='Introduce tu email...')
            label(for='pass') Password:
            input#pass(type='password1' name='password' placeholder='Introduce   password...')
            label(for='pass2') Confirmar password:
            input#pass2(type='password2' name='pass2' placeholder='Repite    password...')
            input#enviarForm1(type='submit' value='Enviar')
        script(src="./js/main.js") 