/*#36362E*/
/*#F7DA39*/
/*#F7D73A*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
    background-color: #2D2D2D;
    min-height: 100vh;
    max-width: 400px;
    margin: 0 auto;
}


/*================================================================================*/
/*Header*/

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #F7D73A;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat';
}

.topnav a.icon {
  float: right;
  background-color: slategrey;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

/*================================================================================*/
/*Signup*/

#formulario{
  background-color: #2D2D2D;
}

form#form2{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F7D73A;
}
button[type=button]{
  padding:5px 15px;
  background:#ccc;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:black;
}

/*================================================================================*/
/*Login*/

.botoncrea{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form#formlogin{
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F7D73A;
}

div.google{
  color: #F7D73A;
  /*border: 2px solid blue;*/
  border-radius: 3px;
}

/*================================================================================*/
  /*Pagina de inicio*/
  #startbody{
    background-color: rgb(247, 214, 170);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }



  #form1{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
  }

  #form1 button{
    margin-top: 10px;
    min-width: 25%;
    min-height: 25%;
  }

  #form1 h1, #form2 h1{
    color: black;
    font-weight: bold;
    text-decoration: underline;

  }

  #creapeli{
    background-color: #2D2D2D;
  }

  #formcrea{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #formcrea input{
    max-width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .creapeli{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }


  #resultcreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/*================================================================================*/
/*Dashboard*/

.btn {
  padding:5px 15px;
  background:#ccc;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:black;
}

/*.btn:hover{*/
/*  border: 3px solid blue;*/
/*}*/
section.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7D73A;

}

/*================================================================================*/
   /* pug pagina de busqueda de pelis(searcher)*/
   #bodysearcher{
     background-color: #2D2D2D;
   }

   .searchh1{
     text-align: center;
     color: #F7DA39;
   }

   #labelsearch{
     font-size: 20px;
  }
  form#form12{
  margin:auto;
  }
   #form12{
     background-color: #F7D73A;
     margin-top: 30%;
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 75%;
   }

   #form12 input{
     margin-top: 40px;

   }

/*==================================================================*/
input[type=submit] {
  padding:5px 15px;
  background:#ccc;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:black;
}
button.addFavBtn,button.detail {
  padding:5px 15px;
  background:#ccc;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:black;
}
p{
  font-family: 'Montserrat', sans-serif;
}

/*==================================================================*/
   #form2{
    background-color: yellow;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }



   .botoncrea3 h1{
     text-align: center;
   }

   #formcrea15{
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   }

/*================================================================================*/
  #pelidetallada{
  
   padding:5px 15px;
   background:#ccc;
   cursor:pointer;
   webkit-border-radius: 5px;
   border-radius: 5px;
   border-color:black;
}

.results1detalle p{
  text-align: left;
}

.results1 img{
  text-align: center;
}

/*================================================================================*/
  /*Busqueda de peliculas(varios resultados)*/
  #resultadospelis{
    background-color: #2D2D2D;
  }
  #result{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .results{
    background-color: #F7D73A;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    max-width: 75%;
  }

  .filmsimgres{
    max-width: 85%;
  }

/*================================================================================*/
  /*Apartado Menu Administrador(crear,editar,eliminar peliculas)*/
  #managebody{
    background-color: #858383;
  }

  #creapeli{
    background-color: #858383;
  }

  #createnewMovie{
    text-align: center;
  }
  #createnewMovie1{
     min-height: 20%;
     min-width: 100px;
  }

  p.manageAdmin{
    text-decoration: underline;
  }

  .TituloManage{
    text-align: center;
  }

  .listMovies1{
    border: 1px solid black;
    border-radius: 3px;
    max-width: 40%;
    min-height: 20%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  .filmsimg1{
    max-width: 50%;
    max-height: 50%;
  }

  #deletepeli{
    background-color: #9b9b9b;
    text-align: center;
    margin-top: 20%;
  }

  .deletepelis button{
    margin-top: 20%;
    font-size: 20px;
    margin-bottom: 10%;
  }

#backToMenu{
  border-radius: 2px;
}
/*================================================================================*/
  /*PAGINA EDITAR PELICULAS*/
   #editbody{
     background-color: #868686;
   }

  .listMovies2{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
  }

.filmsimg2{
  max-width: 20%;
  max-height: 20%;
}

p.edit{
  text-decoration: underline;
}

/*================================================================================*/
   /*Otras paginas*/
  .boton{
    display: flex;
    justify-content: end;
  }

  .login,.signup{
    text-align: right;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 6px;
    background-color: #2D2D2D;
  }



   #search{
     background-color: #424545;
   }
   article.filmsa1{
     background-color: #F7D73A;
   }


   .logoutapp{
      display: flex;
      flex-direction: column;
      text-align: center;
   }

  /* #footer,
  #header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
    border-radius: 10px;
    margin: 15px 5px;
  } */
/*
  .home__section {
    display: flex;
    justify-content: center;
    height: 400px;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
    border-radius: 10px;
    margin: 15px 5px;
  }
  .header__nav {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 5px;
    text-shadow: 0px 0px 2 + px #00ccff;
  }
  .header__buttom {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 10px;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff;
  }
  .header__buttom:hover {
    background-color: #00ccff23;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
  } */
  a {
    text-decoration: none;
    color: rgb(19, 84, 110);
    font-family: oswald;
    font-size: 15px;
  }
  /* .home__form__content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border-color: transparent;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 15px;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff;
  }
  .home__datas__content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border-color: transparent;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 15px;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff;
  }
  .home__form {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
  .home__input {
    padding: 5px;
    border: transparent;
    text-align: center;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
    border-radius: 10px;
    margin: 15px 5px;
  }
  .home__button {
    text-decoration: none;
    color: rgb(19, 84, 110);
    font-family: oswald;
    font-size: 15px;
    width: 150px;
    padding: 5px;
    border: transparent;
    text-align: center;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff;
    border-radius: 10px;
    margin: 15px 5px;
  }
  .home__button:hover {
    background-color: #00ccff23;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
  }
  .home__img {
    filter: drop-shadow(6px 10px 2px rgba(0, 0, 0, 0.4));
    width: 200px;
    margin-bottom: 20px;
  } */
  .films__section {
    display: flex;
    justify-content: center;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
    border-radius: 10px;
    margin: 15px 5px;
  }
  .films__img {
    border-radius: 5px;
    height: 300px;
  }

  .films__a1 {
    margin: 10px;
  }
  .films__a2 {
    display: flex;
    justify-content: center;

    flex-flow: column;
    margin: 10px;
  }
  .title {
    color: rgb(19, 84, 110);
    font-family: oswald;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
  }
  p {
    margin: 5px 10px;
    color: rgb(0, 0, 0);
    font-family: oswald;
    font-size: 15px;
  }
  .description,.awards,.points,.actors,.year,.director {
    margin: 2px 10px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }