body {
    background-color: #8af7c4ce;
  }

  #formulario{
    background-color: rgb(204, 248, 160);
  }

  #form1, #form2{
    text-align: center;
    margin-top: 50px;
    border: 5px solid black;
    border-radius: 15px;
  }

  #form1 h1, #form2 h1{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    
  }

  #creapeli{
    background-color: rgb(246, 150, 150);
  }

  #formcrea{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #formcrea input{
    max-width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .creapeli{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }


  #resultcreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*Apartado Menu Administrador(crear,editar peliculas)*/
  #managebody{
    background-color: rgb(242, 173, 124);
  }

  .TituloManage{
    text-align: center;
  }

  .listMovies1{
    border: 1px solid black;
    border-radius: 3px;
    min-width: 20%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  filmsimg1


  .boton{
    display: flex;
    justify-content: end;
  }
 
  .login,.signup{
    text-align: right;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 6px;
    background-color: rgb(206, 206, 206);
  } 

   .google h1{
     border: 2px solid blue;
     border-radius: 3px;
   }

   #search{
     background-color: aqua;
   }

  /* #footer,
  #header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
    border-radius: 10px;
    margin: 15px 5px;
  } */
/*   
  .home__section {
    display: flex;
    justify-content: center;
    height: 400px;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
    border-radius: 10px;
    margin: 15px 5px;
  }
  .header__nav {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 5px;
    text-shadow: 0px 0px 2 + px #00ccff;
  }
  .header__buttom {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 10px;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff;
  }
  .header__buttom:hover {
    background-color: #00ccff23;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
  } */
  a {
    text-decoration: none;
    color: rgb(19, 84, 110);
    font-family: oswald;
    font-size: 15px;
  }
  /* .home__form__content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border-color: transparent;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 15px;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff;
  }
  .home__datas__content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border-color: transparent;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 15px;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff;
  }
  .home__form {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
  .home__input {
    padding: 5px;
    border: transparent;
    text-align: center;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
    border-radius: 10px;
    margin: 15px 5px;
  }
  .home__button {
    text-decoration: none;
    color: rgb(19, 84, 110);
    font-family: oswald;
    font-size: 15px;
    width: 150px;
    padding: 5px;
    border: transparent;
    text-align: center;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff;
    border-radius: 10px;
    margin: 15px 5px;
  }
  .home__button:hover {
    background-color: #00ccff23;
    box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
  }
  .home__img {
    filter: drop-shadow(6px 10px 2px rgba(0, 0, 0, 0.4));
    width: 200px;
    margin-bottom: 20px;
  } */
  .films__section {
    display: flex;
    justify-content: center;
    box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
      inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
    border-radius: 10px;
    margin: 15px 5px;
  }
  .films__img {
    border-radius: 5px;
    height: 300px;
  }
  
  .films__a1 {
    margin: 10px;
  }
  .films__a2 {
    display: flex;
    justify-content: center;
  
    flex-flow: column;
    margin: 10px;
  }
  .title {
    color: rgb(19, 84, 110);
    font-family: oswald;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
  }
  p {
    margin: 2px 10px;
    color: rgb(0, 0, 0);
    font-family: oswald;
    font-size: 15px;
  }
  .description,.awards,.points,.actors,.year,.director {
    margin: 2px 10px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }